<table class="tableCSS">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
  </tr>
  <% @tasks.each do |t| %>
    <tr>
      <td><%= t.title %></td>
      <td><%= t.description %></td>
      <td><%= t.status %></td>
    </tr>
  <% end %>
</table>
