$font-stack: Helvetica, sans-serif;

/*
  Possible colours for the site:
  #9966ff; a blue
  #ffb3c1; a lighter pink
  #ff99ac; a darkish pink
*/

html {
  font: 100% $font-stack;
  background-color: white;
}

body {

}

section {
  background-color: white;
  margin-left: 1em;
  margin-right: 1em;
  text-align: center;
  padding: 1em;
  h2 {
    margin: 0;
  }
}

// Miscellaneous stylings

.lightBlueText {
  color: #9966ff;
}

.center {
  text-align: center;
}

.alignLeft {
  text-align: justify;
  div {
    margin-left: 1em;
    margin-right: 1em;
    margin-bottom: 1em;
  }
}

.topMargin10 {
  margin-top: 10px;
}

// Basicaly styling for links.
a {
  text-decoration: none;
  &:link, &:visited {
    color: darkblue;
  }
  &:hover {
    color:yellow;
  }
  &:active {
    color:pink;
  }
}

// Styles the forms
form {
  padding: 2em;
  text-align: left;

  .error {
    color: red;
  }

  .formButtons {
    text-align: center;
  }

  .field_with_errors {
    display: inline;
    label {
      display: inline;
    }
    input[type=text], textarea, input[type=email], input[type=password] {
       box-shadow: 0 0 5px red;
     }
  }

  label {
    display: block;
    text-align: left;
  }

  input[type=text], textarea, input[type=email], input[type=password] {
    width: 100%;
    padding: .5em;
    border: 2px solid red;
    border-radius: .4em;
    outline: none;
    margin-bottom: 1em;
  }

  textarea {
    height: 5em;
    padding: .5em;
  }

  input:focus, textarea:focus {
    background-color: #f2f2f2;
  }

  div {
    margin-top: 1em;
  }

  input[type=button], input[type=submit], input[type=reset], button {
    border-radius: .4em;
    padding: 1em;
    border: none;
    text-decoration: none;
    background-color: #3CBC8D;
    color: white;
    cursor: pointer;
  }
}

// To style tables
.tableCSS {
  margin: auto;
  border-collapse: collapse;
  border: solid 1px black;
  th, td {
    border-bottom: 1px solid black;
    padding: .75em;
  }
  th {
    background-color: green;
    color: white;
  }
  tr {
    background-color: #d2d2d2;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  tr:hover {
    background-color: orange;/*#f5f5f5;*/
  }
  th:hover {
    background-color: yellow;
  }
}
