<table class="tableCSS">
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Status</th>
  </tr>
  <% @features.each do |f| %>
    <tr>
      <td><%= f.title %></td>
      <td><%= f.description %></td>
      <td><%= f.status %></td>
    </tr>
  <% end %>
</table>
